/* @font-face {
  font-family: "Trolls Movie Font";
  src: url("//db.onlinewebfonts.com/t/550deea5da78332d23b1ab71fc9408b0.eot");
  src: url("//db.onlinewebfonts.com/t/550deea5da78332d23b1ab71fc9408b0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/550deea5da78332d23b1ab71fc9408b0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/550deea5da78332d23b1ab71fc9408b0.woff") format("woff"), url("//db.onlinewebfonts.com/t/550deea5da78332d23b1ab71fc9408b0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/550deea5da78332d23b1ab71fc9408b0.svg#Trolls Movie Font") format("svg");
} */

@import url('https://fonts.cdnfonts.com/css/trolls-movie-font');